HELP.md
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Env secrets ###
*.override.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/artifacts
.idea/aws.xml
.idea/libraries
.idea/copyright
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/modules.xml
.idea/workspace.xml
.idea/shelf
.idea/dataSources.xml
.idea/dataSources
.idea/dataSources.local.xml
.idea/vcs.xml
.idea/sshConfigs.xml
.idea/uiDesigner.xml
.idea/kotlinc.xml
.idea/kubernetes-settings.xml
.idea/AndroidProjectSystem.xml

*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### Zed ###
.zed

.qodana/code-coverage

# macOS system files
.DS_Store
